<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2010-05-08-sql-page.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560888.853149</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-24-blog-move.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560888.85315001</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-28-easter-day.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560888.85315102</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-06-aussie-say-youtute.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560888.85315102</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-08-recently.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560888.85315102</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-22-now-in-Melbourne.md</key>
			<dict>
				<key>lastModification</key>
				<real>493560932.82982898</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2016-09-03-Keep-Writing.md</key>
			<dict>
				<key>lastModification</key>
				<real>510580792.34128797</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2017-03-07-A-Long-Time.md</key>
			<dict>
				<key>lastModification</key>
				<real>510580673.41009301</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>2018-11-09-4-Years.md</key>
			<dict>
				<key>lastModification</key>
				<real>563460202.36565602</real>
				<key>version</key>
				<dict>
					<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
					<integer>43</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-03-07-A-Long-Time.md</string>
		</array>
		<array>
			<string>2018-11-09-4-Years.md</string>
		</array>
		<array>
			<string>2016-09-03-Keep-Writing.md</string>
		</array>
		<array>
			<string>2016-08-22-now-in-Melbourne.md</string>
		</array>
		<array>
			<string>2010-05-08-sql-page.md</string>
		</array>
		<array>
			<string>2016-03-24-blog-move.md</string>
		</array>
		<array>
			<string>2016-03-28-easter-day.md</string>
		</array>
		<array>
			<string>2016-05-08-recently.md</string>
		</array>
		<array>
			<string>2016-04-06-aussie-say-youtute.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>86919058a2c959ceea4ce0785f0151f8237f8a75ec1ce0027db3b2e96948b9b2</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
